# Configuration Database (for storing pipeline configs)
CONFIG_DB_HOST=localhost
CONFIG_DB_PORT=5432
CONFIG_DB_DATABASE=postgres
CONFIG_DB_USERNAME=postgres
CONFIG_DB_PASSWORD=postgres

# Store Redis
REDIS_URL=127.0.0.1:6379

# Pipeline Manager Settings
PIPELINE_POLL_INTERVAL_SECS=5

# Metrics Settings
METRICS_ADDR=[::]:9000

# Prometheus Settings
PROMETHEUS_URL=http://prometheus:9090

# WAL Monitor Settings
# Poll interval in seconds for checking WAL size
WAL_POLL_INTERVAL_SECS=60
# Warning threshold in MB (yellow in Grafana)
WARNING_WAL=3000
# Danger threshold in MB (red in Grafana)
DANGER_WAL=6000
