version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: postgres-logical
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    # Bagian ini mengaktifkan WAL Level Logical dan pengaturan replikasi
    command: >
      postgres 
      -c wal_level=logical 
      -c max_replication_slots=10 
      -c max_wal_senders=10
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:latest
    container_name: redis-dev
    restart: unless-stopped
    ports:
      - "6377:6379"
    # Menyalakan Append Only File (AOF) untuk persistensi data yang lebih aman
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data: